body {
    background-color: lightblue;
}

.center {
    text-align: center;
}

#page_title {
    color: black;
}

.center_table {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

th, td, table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th {
    font-weight: bold;
    background: grey;
}